
.container {
  display: flex;
  flex-direction: column;
  margin: 0 50px 0;
  padding: 0 70px 0;
  width: 20vw;
  line-height: 50px;
  font-size: 20px;
  font-weight: 500;
  text-shadow: 3px 2px 3px rgb(14, 190, 235);
  background-color: aquamarine;
  text-align: center;
}

button {
  width: 100px;
  
}

h1 {
  text-shadow: 3px 2px 3px rgb(14, 190, 235);
  font-size: 30px;
}

.ThoughtsList {

}